<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to FeeNex!</title>
  </head>
  <body
    style="
      font-family: 'Helvetica Neue', 'Arial', sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f8fafc;
    "
  >
    <!-- Outer centering wrapper -->
    <div style="width: 100%; text-align: center">
      <!-- Main container -->
      <div
        style="
          display: inline-block;
          width: 100%;
          max-width: 500px;
          background: #fff;
          border-radius: 10px;
          overflow: hidden;
          text-align: left;
          margin: 32px 20px;
        "
      >
        <!-- Header -->
        <div
          style="
            background: #4f6b58;
            color: #fff;
            padding: 32px;
            text-align: center;
          "
        >
          <h1
            style="font-size: 28px; font-weight: 600; margin: 0; color: white"
          >
            Welcome to FeeNex!
          </h1>
        </div>

        <!-- Content -->
        <div style="padding: 36px 30px 24px 30px">
          <!-- Image container -->
          <div style="text-align: center; margin-bottom: 24px">
            <img
              src="https://res.cloudinary.com/dfp8ypb5z/image/upload/v1757136497/welcome_email_img_q4nmx4.png"
              alt="Welcome Image"
              style="width: 50%; height: auto; display: block; margin: 0 auto"
            />
          </div>

          <!-- Text content -->
          <div style="font-size: 16px; color: #6a6e74; line-height: 1.6">
            Thanks for registering an account with FeeNex! We're thrilled to
            have you join our community.
            <br /><br />
            We're here to help you manage your finances better. With FeeNex, you
            can easily track your expenses, gain insights, and take control of
            your finances.
            <br /><br />
            Get started by uploading your first receipt and watch FeeNex
            automatically extract the expense details for you!
          </div>
        </div>
      </div>

      <!-- Footer -->
      <div style="text-align: center; padding-bottom: 32px">
        <p style="font-size: 12px; margin: 0; color: #9ca3af">
          Sent by FeeNex • Iloilo City, Iloilo, PH 5000
        </p>
      </div>
    </div>
  </body>
</html>
